<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>My first app</title>
</head>

<body>
   <h1>This is a template file, I'm using the template engine</h1>
   <h2>Hello! My name is {{name}} {{lastName}}, nice to meet you!</h2>
   <p>I'm {{age}} years old, and my friends list is: {{myFriends}}</p>
   <div class="my-photo">
      <header>This is me!</header>
      <img src="img/img-1.jpg" width="300px" alt="This is me!">
   </div>
</body>

</html>